<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>LoopBack Sample Application</title>

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/code.css">
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">LoopBack Sample Application</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 hide-mobile column scroll-spy-target">
                <ul class="nav nav-pills nav-stacked">
                    <li class="depth-1"><a href="#welcome">Welcome</a></li>
                    <li class="depth-2"><a href="#sample-requests">Sample Requests</a></li>
                    <li class="depth-3"><a href="#route-cars">GET /api/cars</a></li>
                    <li class="depth-3"><a href="#route-cars-2">GET /api/cars/2</a></li>
                    <li class="depth-3"><a href="#route-cars-filter">GET /api/cars?filter</a></li>
                    <li class="depth-3"><a href="#route-locations">GET /api/locations</a></li>
                    <li class="depth-3"><a href="#route-locations-nearby">GET /api/locations/nearby</a></li>
                    <li class="depth-3"><a href="#route-locations-inventory">GET /api/locations/:id/inventory</a></li>
                    <li class="depth-2"><a href="#next-steps">Next Steps</a></li>
                    <li class="depth-3"><a href="#api-explorer">API Explorer</a></li>
                    <li class="depth-3"><a href="#cyoa">Choose Your Own Adventure</a></li>
                </ul>
            </div>
            <div class="col-lg-9 col-lg-offset-3 column" data-spy="scroll" data-target=".scroll-spy-target" data-offset="0">
                <div class="readability">
                    <div class="jumbotron" id="welcome">
                        <h1>LoopBack</h1>
                        <p>Welcome to the LoopBack sample application!<p>
                           <a href="http://strongloop.com/mobile-application-development/loopback/">LoopBack</a> is an open source API Server built with Node.js for connecting enterprise data to devices and browsers.
                            This sample application simulates an (imaginary) car rental dealer with locations in major cities around the world.
                            They need to replace their existing desktop reservation system with a new mobile app. The app exposes a set of REST APIs for inventory data.<p>
                            Click around and explore the APIs!
                        </p>
                    </div>
                    <h2 id="sample-requests">Sample Requests</h2>
                    <p>Click on the friendly <a href="#route-cars">GET</a> buttons below to try out a few example requests!</p>
                    <div id="route-cars">
                        <h3><a href="#" class="btn btn-success btn-lg" data-route="/api/cars" data-target=".route-cars" data-truncate="20">GET</a> /api/cars</h3>
                        <pre><code class="route-cars"></code></pre>
                    </div>
                    <div id="route-cars-2">
                        <h3><a href="#" class="btn btn-success btn-lg" data-route="/api/cars/2" data-target=".route-cars-2">GET</a> /api/cars/2</h3>
                        <pre><code class="route-cars-2"></code></pre>
                    </div>
                    <div id="route-cars-filter">
                        <h3><a href="#" class="btn btn-success btn-lg" data-route="/api/cars?filter[order]=make&filter[where][carClass]=fullsize&filter[limit]=3" data-target=".route-cars-filter">GET</a> /api/cars?filter</h3>
                        <p>Actual request: <code>GET /api/cars?filter[order]=make&filter[where][carClass]=fullsize&filter[limit]=3</code> (The three full size cars ordered by make)</p>
                        <pre><code class="route-cars-filter"></code></pre>
                    </div>
                    <div id="route-locations">
                        <h3><a href="#" class="btn btn-success btn-lg" data-route="/api/locations" data-target=".route-locations" data-truncate="20">GET</a> /api/locations</h3>
                        <pre><code class="route-locations"></code></pre>
                    </div>
                    <div id="route-locations-nearby">
                        <h3><a href="#" class="btn btn-success btn-lg" data-route="/api/locations/nearby?here[lat]=37.587409&here[lng]=-122.338225" data-target=".route-locations-nearby" data-truncate="20">GET</a> /api/locations/nearby</h3>
                        <p>Actual request: <code>GET /api/locations/nearby?here[lat]=37.587409&here[lng]=-122.338225</code></p>
                        <pre><code class="route-locations-nearby"></code></pre>
                    </div>
                    <div id="route-locations-inventory">
                        <h3><a href="#" class="btn btn-success btn-lg" data-route="/api/locations/88/inventory" data-target=".route-locations-inventory" data-truncate="20">GET</a> /api/locations/:id/inventory</h3>
                        <p>Actual request: <code>GET /api/locations/88/inventory</code></p>
                        <pre><code class="route-locations-inventory"></code></pre>
                    </div>
                    <h2 id="next-steps">Next Steps</h2>
                    <div>
                        <h3 id="api-explorer">API Explorer</h3>
                        <p>The <a href="/explorer">API Explorer</a> is a great resource to check out the rest of the methods available to you through the LoopBack's default REST API.</p>
                        <h3 id="cyoa">Choose Your Own Adventure</h3>
                        <p></p>
                        <ul>
                            <li>To consume the REST API from your mobile client, check out the <a href="//docs.strongloop.com/loopback#getting-started">LoopBack Getting Started Guide</a>.</li>
                            <li>To see the out-of-the-box scaling capability of the Suite, check out the <a href="//docs.strongloop.com/strongnode#quick-start">StrongNode Quick Start Guide</a>.</li>
                            <li>To see the provided CPU profiling and path trace features, check out the <a href="//docs.strongloop.com/strongops#quick-start">StrongOps Quick Start Guide</a>.</li>
                        </ul>
                    </div>
                    <div class="intentionally-left-blank"></div>
                </div>
            </div>
        </div>
        <script src="js/jquery.min.js"></script>
        <script src="js/jquery-scrollTo.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
